body {
    background-color: #f7ecde;
}

h1 {
    font-size: 50px;
    font-family: "Pacifico", cursive;
    color: #352e28;
    isolation: isolate;
}



h1::after {
    content: '';
    display: block;
    border-bottom: 2px dotted #352e28;
    margin-top: 50px;

}

h1::before {
    content: '';
    position: absolute;
    width: 275px;
    height: 100px;
    left: 510px;
    bottom: 75px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;

}

h1:hover::before {
    height: 25%;
}

h2 {
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.submit-btn-container::after {
    content: '';
    display: block;
    margin-top: 30px;
    border-bottom: 2px dotted #352e28;
}

.circles span {
    display: block;
    width: 20px;
    height: 20px;
}

.circles span:nth-child(1) {
    background-color: #f15f5d;
}

.circles span:nth-child(2) {
    background-color: #febe2e;
}

.circles span:nth-child(3) {
    background-color: #4db748;
}
